ul {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li {
    width: 100%;
}

img {
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.item-container {
    display: block;
    border-radius: 1rem;
}

.content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.plot {
/*    overflow: hidden;
    max-width: 75ch;
    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
}

.container {
    margin: .5rem .5rem;
    padding: .5rem .5rem;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 2fr));
    grid-auto-flow: row;
}
