@page "/"
@using MTO.RPDU.FilmBrowserWASM.Clients;
@using System.Threading.Tasks
@using System.Text.Json;
@using MTO.RPDU.FilmBrowserWASM.Models.Omdb;
@using System.Text;
@inject OmdbHttpClient client

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@result</p>


@code {
    private string result;

    protected override async Task OnInitializedAsync()
    {
        var response = await client.SearchFilmsByTitle("lord");
        var films = new List<FilmResult>();
        var sb = new StringBuilder();

        foreach(var record in response.Search)
        {
            var film = await client.GetFilmById(record.imdbID!);
            sb.AppendLine(JsonSerializer.Serialize(film));
        }


        result = sb.ToString();
    }
}