ul {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li {
    width: 100%;
}

img {
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    grid-row: 1 / -1;
    grid-column: 1;
}

.item-container {
    margin: 0 4px 8px 4px;
    display: grid;
    grid-template-rows: 1fr auto;
    break-inside: avoid;
    -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.3);
    border-radius: 1rem;
}

.content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container {
    column-count: 3;
    column-gap: 0;
    padding-bottom: 200px;
}

@media screen and (max-width: 72em) {
    .container {
        column-count: 2;
    }
}

@media screen and (max-width: 40em) {
    .container {
        column-count: 1;
    }
}